header{
    height: 10vh;
    background-color: black;
}
h1{
    font-size: 100px;
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 30px;
    border: solid 3px gold;
}
main{
    min-height: 80vh;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
}
div{
    color: black;
    border: solid 3px black;
    background-color: rgb(213, 213, 213);
    width: 28vw;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 20px;
}
img{
    width: 20vw;
    margin: 20px auto;
    display: block;
}
h2{
    text-align: center;
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    font-size: 20px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer{
    height: 10vh;
    background-color: black;
}
body{
    background-color: black;
    border-color: black;
    border: 20px;
}
span{
    font-size: 50px;
}
#form2{
    color: white;
    font-size: 40px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
hr{
    width: 600px;
    height: 5px;
    background-color: white;
    border-radius: 50px;
}